scripts=["
create service user slexamplus-reader with forced path /home/users/system/slexamplus-users

ensure nodes (nt:unstructured) /content/slexamplus-page with properties
  set sling:resourceType{String} to slexamplus/application/helloworld
  set customProperty{String} to textFromCustomProperty
end

ensure nodes (nt:unstructured) /content/embedded-page with properties
  set sling:resourceType{String} to slexamplus/application/components/embedded-page
  set textToDisplay{String} to \"Hello, Universe!\"
end

ensure nodes (nt:unstructured) /content/form with properties
  set sling:resourceType{String} to slexamplus/application/form
end

set properties on /
  set sling:resourceType to sling:redirect
  set sling:target to /content/slexamplus-page.html
end
"]
